<style>
		.fa-stack {
          color: red;
        }
		.fa-stack1 {
          color: green;
        }
		#formulario1{
		  text-align: center;
		  color:green;
		  }
		  #inp {
		  text-align: center;
		  margin: auto;
        }
	</style>